#welcome-text {
  -fx-font-weight: bold;
  -fx-fill: white;
}

#sign-in-msg {
  -fx-fill: red;
  -fx-font-weight: bold;
}

.label {
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.button {
  -fx-font-weight: bold;
}

.root {
  -fx-background-image: url("background.png");
  -fx-background-color: rgba(0,0,0,0.5);
}

